.header {
	width: 100%;
	background-color: #FFFFFF;

	.header-wrap {
		width: 1200px;
	}

	.header-content {
		margin: 0 auto;
		height: 90px;
		line-height: 90px;

		.header-warp_left {
			width: 263px;
			// height: 48px;
			display: inline-block;
			// float: left;

			.header-warp_left_img {
				width: 100%;
			}
		}

		.header-wrap_right {
			display: inline-block;
			margin-left: 250px;
			float: right;
			position: relative;

			.menu-item {
				font-family: SourceHanSansSC-Light;
				font-weight: 300;
				color: #424242;
				margin-right: 10px;
				display: inline-block;
				a {
					color: #424242;
					&:hover {
						color: #E95205;
					}
				}
			}


			.menu-item-has-children {
				display: inline-block;

				&:hover {
					.sub-menu {
						display: block;
					}
				}
			}

			.sub-menu {
				display: none;
				background-color: rgba(248, 248, 248, 1);
				position: absolute;
				left: 0px;
				top: 90px;
				width: 148px;
				height: auto;
				z-index: 999;

				.menu-item {
					line-height: 36px;
					width: 100%;
					list-style-type: none;
					display: block;
					
					a {
						display: inline-block;
						width: 100%;
						text-align: center;

						&:hover {
							background-color: #fff;
							color: #E95205;
							font-size: 14px;
						}
					}
				}
			}

			.free-opening {
				width: 100px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				color: #fff;
				background-color: #E95205;
				display: inline-block;
				border-radius: 2px;
				margin-left: 30px;
				margin-right: 10px;

				&:hover {
					color: #fff;
					background-color: rgba(233, 82, 5, 0.9);
				}
			}

			.management-platform {
				width: 100px;
				height: 30px;
				line-height: 30px;
				background: rgba(233, 82, 5, 0);
				display: inline-block;
				text-align: center;
				border: 1px solid rgba(233, 82, 5, 1);
				border-radius: 2px;
				margin-right: 0;
			}
		}
	}
}