.help_doc_detail_wrap{
    .header_fk{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .header-main {
        display: none;
    }
    .page .content{
        .slider_menu_wrap{
            position: fixed;
            height: 100%;
            overflow: auto;
            top: 60px;
        }

        .content_left {
            margin-top: 60px;
        }
    }
}