.left-menu-box{
    h4.title{
        font-size: 16px;
        font-weight: bold;
        color: #505050;
    }
    .sidebar {
        width: 300px;
        max-height: 1210px;
        overflow: auto;
        background-image: linear-gradient(-90deg, rgba(0, 0, 0, .01), transparent);
        box-sizing: border-box;
        transition: opacity .2s;
        background-color: #fff;
        padding: 44px 20px 20px 36px;
        a {
            display: block;
            word-break: break-word;
            transition: color .3s
        }
    }
    
    .TreeNavigation {
        padding: 0;
        margin: 0;
        ul {
            list-style-type: none;
        }
        a:hover {
            color: #888
        }
    }
    
    .NavigationLevel--closed ul {
        display: none
    }
    .NavigationItem {
        display: block;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        color: #9B9B9B;
        a{
            color: #9B9B9B;
        }
        .NavigationItem-current,
        a:hover{
            color:#E95205
        }
    }
    
    .NavigationLevel--level-1{
        li {
            padding-left: 1em
        }
        .NavigationLevel__parent {
            font-size: 14px;
            font-weight: 400;
            position: relative;
            color: #9B9B9B;
        }
    }
    
    .NavigationToggle__icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -6px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform .3s;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%237f7f7f' d='M3 2.16666667L6.72972973 6 3 9.83333333 4.13513514 11 9 6 4.13513514 1z' fill-rule='evenodd'/%3e%3c/svg%3e");
        transform: rotate(90deg)
    }
    
    .NavigationToggle__icon--closed {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23ccc' d='M3 2.16666667L6.72972973 6 3 9.83333333 4.13513514 11 9 6 4.13513514 1z' fill-rule='evenodd'/%3e%3c/svg%3e");
        transform: rotate(0)
    }
    
    .NavigationItem {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        span {
            cursor: pointer
        }
    }
    
    .NavigationLevel__children {
        margin-bottom: 10px;
        .NavigationItem {
            padding: 4px 0
        }
    }
}