.other_doc_wrap{
    background: #ffffff;
    margin: 20px 0;
    padding: 0 23px;
    .head{
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #E5E5E5; 
        .block{
            display: inline-block;
            background: #FE6500;
            height: 16px;
            vertical-align: middle;
            width: 5px;
        }
        .title{
            display: inline-block;
            height: 16px;
            font-size: 16px;
            font-weight: 300;
            line-height: 16px;
            vertical-align: middle;
            padding-left: 12px;
        }
    }
    .doc-body {
        padding: 30px 0 40px;
        .doc-body_item {
            display: block;
            li {
                list-style-type: none;
                width: 25%;
                float: left;
                text-align: center;
                line-height: 30px;
                a {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.8);
                    &:hover {
                        color: #EB6528;
                    }
                }
            }
        }
    }
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}