@import './normalize.scss';
@import './header_1.scss';
@import './header_2.scss';
@import './footer.scss';
@import './right_side.scss';

.page {
    background-color: #F5F8FB;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;

    .content {
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        overflow:hidden;

        .link {
            font-size: 14px;
            margin: 20px 0;
            color:rgba(66,66,66,1);

            .color {
                color: #FE6500;
            }
        }

        .content_left {
            width: 888px;
            float: left;

            .guide_image_wrap {
                width: 888px;
                overflow: hidden;
                margin-bottom: 30px;
    
                .left {
                    float: left;
                    width: 560px;
                    height: 320px;
                    position: relative;
                    cursor: pointer;
                    display: block;
                }
    
                .right {
                    float: right;
                    width: 282px;
                    height: 155px;
                    .top {
                        width: 100%;
                        height: 155px;
                        position: relative;
                        cursor: pointer;
                        display: block;
                    }
    
                    .bottom {
                        width: 100%;
                        height: 155px;
                        margin-top: 10px;
                        position: relative;
                        cursor: pointer;
                        display: block;
                    }
                }
    
                .image {
                    width: 100%;
                    height: 100%;
                    background-color: #FE6500;
                    display: block;
                }
    
                .text {
                    width: 100%;
                    height: 48px;
                    position: absolute;
                    bottom: 0;
                    background:rgba(0,0,0,1);
                    opacity:0.5;
                    font-size:24px;
                    font-weight:500;
                    color:rgba(255,255,255,1);
                    overflow: hidden;
                    font-family:SourceHanSansSC-Medium;
                }
    
                .left_text {
                    height: 48px;
                    line-height: 48px;
                    padding-left: 21px;
                    font-size:16px;
                }
    
                .right_text {
                    height: 38px;
                    line-height: 38px;
                    padding-left: 10px;
                    font-size:14px
                }
            }

            .article_wrap {
                width: 100%;
                background: #ffffff;

                .article_header {
                    width: 100%;
                    height: 58px;
                    border-bottom: 1px solid #E5E5E5;
                    padding: 26px 20px 0 20px;

                    .tab {
                        float: left;
                        margin: 0 15px;
                        font-size:16px;
                    }

                    .active {
                        border-bottom: 2px solid #E95205;
                        color: #E95205;
                        padding-bottom: 6px;
                    }
                }

                .article_footer {
                    width: 100%;
                    height: 71px;
                    text-align: center;
                    line-height: 71px;

                    .split_page_wrap {
                        display: inline-block;

                        .split_page {
                            cursor: pointer;
                            display: inline-block;
                            width:22px;
                            height:22px;
                            background:rgba(255,255,255,1);
                            border:1px solid rgba(166, 166, 166, 0.64);
                            border-radius:3px;
                            margin-right: 11px;
                            font-size:16px;
                            //font-family:SourceHanSansSC-Light;
                            font-weight:300;
                            color:rgba(199,199,199,1);
                            line-height:20px;
                        }

                        .active {
                            background-color: #E95205;
                            color: #ffffff;
                            border: 1px solid #E95205;
                        }
                    }
                }
            }
        }        
        .content_right {
            float: right;
            width: 282px;
            position: relative;
        }
    }

    .hot_article_panel, .hit_article_panel {
        display: none;
    }

    .panel_active {
        display: block;
    }

    .article_content_wrap .article-lists {
        position: relative;
        padding: 30px 20px;
        background-color: #FFF;
    }
    
    .article_content_wrap .article-lists:after {
        content: '';
        position: absolute;
        width: 848px;
        height: 1px;
        background-color: #eee;
        position: absolute;
        bottom: 0;
        left: 20px;
        z-index: 10;
    }
    
    .article_content_wrap .article-lists .article-img {
        width: 202px;
        height: 151px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }
    
    .article_content_wrap .article-lists .article-img img {
        width: 100%;
        height: auto;
    }
    
    .article_content_wrap .article-lists .article-img ~ .article-content {
        width: 620px;
    }
    
    .article_content_wrap .article-lists .article-img + .article-content {
        width: 620px;
    }
    
    .article_content_wrap .article-lists .article-content {
        display: inline-block;
        vertical-align: top;
        height: 151px;
        width: 100%;
    }
    
    .article_content_wrap .article-lists .article-content .article-title {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;
    }
    
    .article_content_wrap .article-lists .article-content .article-title a {
        color: #333;
    }
    
    .article_content_wrap .article-lists .article-content .article-author {
        font-size: 12px;
        color: #999;
        margin-top: 10px;
    }
    
    .article_content_wrap .article-lists .article-content .article-author .author-avatar {
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }
    
    .article_content_wrap .article-lists .article-content .article-author .author-avatar img {
        width: 100%;
        height: auto;
    }
    
    .article_content_wrap .article-lists .article-content .article-author .author-name {
        display: inline-block;
        vertical-align: middle;
        color: #333;
        margin-left: 8px;
    }
    
    .article_content_wrap .article-lists .article-content .article-introduce {
        margin-top: 10px;
        font-size: 14px;
        height: 42px;
        color: #333;
    }
    
    .article_content_wrap .article-lists .article-content .article-other-link {
        font-size: 12px;
        margin-top: 8px;
        color: #999;
    }
    
    .article_content_wrap .article-lists .article-content .article-other-link .article-label {
        font-size: 12px;
        color: #999;
        border: 1px solid #999;
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
        margin-right: 10px;
    }
    
    .article_content_wrap .article-lists .article-content .article-other-link .article-label:hover {
        color: #ff4c4e;
        border-color: #ff4c4e;
    }
    
    .article_content_wrap .article-lists .article-content .article-other-link .article-reading {
        margin-left: 20px;
    }
    
    .article_content_wrap .article-lists .article-content .article-other-link .article-other {
        float: right;
        color: #2db7f5;
        font-size: 12px;
        margin-left: 8px;
    }
    
    .article_content_wrap .article-lists:hover {
        background-color: #fafafc;
    }
    
    .article_content_wrap .article-lists:hover .article-content .article-title a {
        color: #ff4c4e;
    }
    
    .article_content_wrap .article-lists-block {
        display: none;
    }
    
    .article_content_wrap .article-lists-block.active {
        display: block;
    }
    
}