.header-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    z-index: 10000;
    .header-top{
        height: 34px;
        line-height: 34px;
        padding: 0 50px;
        background: #F1F1F1;
        .top_left_title{
            float: left;
        }
        .top_right_btn{
            float: right;
            span{
                padding: 0 10px;
            }
            img{
                cursor: pointer;
            }
        }
    }
    .navbar-wrap{
        height: 76px;
        line-height: 76px;
        background: #fff;
        padding: 0 50px;
        .logo{
            float: left;
            img{
                height: 35px;
                object-fit: contain;
            }
        }
        .right-part{
            float: right;
            ul{
                display: inline-block;
                height: auto;
                li{
                    display: inline-block;
                    padding: 0 15px;
                    height: 76px;
                    font-size: 17px;
                    font-weight: bold;
                    cursor: pointer;
                    a{
                        color: #4A4A4A;
                        display: block;
                        height: 100%;
                    }
                    a:hover{
                        color: #000000
                    }
                }
            }
            .right_part_btn{
                padding-left: 20px;
                display: inline-block;
                img{
                    height: 16px;
                    cursor: pointer;
                    margin-left: 30px;
                }
            }
        }
    }
}