.in-depth-wrap{
    .content{
        padding: 30px 0;
        .h-29{
            height: 29px;
        }
        .item{
            width: 313px;
            .img{
                float: left;
                display: block;
                width: 126px;
                height: 87px;
                background: #ccc;
            }
            .desc{
                float: left;
                max-width: 50%;
                margin-left: 30px;
                font-size: 14px;
                color: #1D1E20;
                text-align: left;
            }
        }
    }
}