.tips_modal_wrap{
    position: fixed;
    width: 100%;
    height: 195px;
    bottom: 0;
    left: 0;
    background: #F1F1F1;
    padding: 27px 50px;
    box-sizing: border-box;
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .desc{
            font-size: 18px;
            width:80%;
            color: #000000;
            font-style: italic;
            margin-bottom: 27px;
            overflow:hidden; 
            text-overflow:ellipsis;
            display:-webkit-box; 
            -webkit-box-orient:vertical;
            -webkit-line-clamp: 3; 
            text-align: left;
        }
        .btn{
            background: #F8D943;
            font-size: 18px;
            font-weight: bold;
            color: #1D1E20;
            line-height: 40px; 
            height: 40px;
            width: 136px;
            border: none;
            cursor: pointer;
        }
    }
    .right{
        position: absolute;
        display: block;
        width: 102px;
        height: 112px;
        right: 50px;
        top: 50%;
        margin-top: -56px;
    }
    .close{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}