.about-wrap{

    .body-content{
        margin-top: 112px;
        .page{
            padding: 17px 50px 0;
            .link{
                color: #9B9B9B;
                font-size: 16px;
            }
            .content{
                margin: 49px auto 118px;
                .left_nav_sidebar{
                    width: 20%;
                    float: left;
                    li{
                        height: 100px;
                        line-height: 100px;
                        text-align: center;
                        background: #ffffff;
                        box-sizing: border-box;
                        border-left: 5px solid #ffffff;
                        cursor: pointer;
                        display: block;
                        font-weight: bold;
                        font-size: 15px;
                        color: #2B2B2B;
                    }
                    li:hover{
                        color: #000000;
                    }
                    .active{
                        background: #F6F6F6;
                        border-left-color: #F8D943;
                    }
                }
                .right_main_content{
                    float: right;
                    width: 75%;
                    h2{
                        color: #2B2B2B;
                        font-size: 34px;
                        font-weight: bold;
                        line-height: 1;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #979797;
                    }
                    p{
                        color: #000000;
                        font-size: 15px;
                        font-weight: bold;
                        margin: 20px 0;
                    }
                    .persinal_data_wrap{
                        display: none;
                    }
                    .my_collection_wrap{
                        display: none;
                    }
                    .active{
                        display: block;
                    }
                }
            }
        }
    }
}