.contact-wrap{

    .body-content{
        margin-top: 112px;
        .page{
            padding: 17px 50px 0;
            .link{
                color: #9B9B9B;
                font-size: 16px;
            }
            .content{
                padding-bottom: 110px;
                max-width: 839px;
                margin: 0 auto;
                .page_title{
                    text-align: center;
                    color: #000000;
                    font-weight: bold;
                    font-size: 34px;
                    margin-bottom: 28px;
                }
                .page_desc{
                    text-align: center;
                    font-size: 20px;
                    color:#000000;
                    font-weight: bold;
                    margin-bottom: 44px;
                }
                .form{
                    .item{
                        text-align: center;
                        input{
                            width:403px;
                            height:58px;
                            border: 1px solid #222222;
                            font-size: 18px;
                            color: #000000;
                            background: #ffffff;
                            margin-bottom: 27px;
                            padding: 0 30px;
                        }
                        textarea::placeholder,
                        input::placeholder {
                            color: 9B9B9B;
                            font-size: 14px;
                        }
                        .firstName, .email{
                            margin-right: 28px;
                        }
                        .subject{
                            width:839px;
                        }
                        .message{
                            width: 777px;
                            height: 193px;
                            background: #ffffff;
                            border: 1px solid #222222;
                            font-size: 18px;
                            color: #000000;
                            padding: 25px 30px;
                        }
                    }
                    .page_btn{
                        float: right;
                        width: 252px;
                        height: 56px;
                        line-height: 56px;
                        text-align: center;
                        font-size: 22px;
                        font-weight: bold;
                        color: #000000;
                        background: #F8D943;
                        border: none;
                        border-radius: 2px;
                        box-shadow: 0 1px 2px 1px #9B9B9B;
                        cursor: pointer;
                        margin-top: 28px;
                        margin-bottom: 130px;
                    }
                }
            }
        }
    }
}