.p_home_wrap{
    .body-content{
        margin-top: 112px;
        .home_banner{
            .swiper-container {
                width: 100%;
                height: 100%;
                background-color: #fff;
                font-weight: bold;
                text-align: center;
                .swiper-wrapper{
                    .swiper-slide{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a{
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                        img{
                            width: 100%;
                            height: 400px;
                            object-fit: cover;
                        }
                    }
                }
                .my-bullet {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border-radius: 100%;
                    background: #999999;
                    opacity: .2;
                    margin: 0 10px;
                }
            
                .my-bullet-active {
                    background: #F8D943;
                    opacity: 1;
                }
            }
        }
        .ad_box{
            margin-top: 20px;
            width: 100%;
            border-bottom: 1px solid rgba(151, 151, 151, 0.3);
            .ad_item{
                float: left;
                width: 25%;
                padding: 10px 0;
                border-right: 1px solid rgba(151, 151, 151, 0.3);
                .ad_img{
                    float: left;
                    background: #ccc;
                    margin-left: 19px;
                    img{
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                    }
                }
                .ad_content{
                    display: table-cell;
                    vertical-align: bottom;
                    height: 80px;
                    padding-left: 16px;
                    a{
                        display: block;
                    }
                    .desc{
                        max-width: 90%;
                        font-size: 12px;
                        color: #000000;
                    }
                    .title{
                        font-size: 14px;
                        color: #F8D943;
                    }
                }
            }
            .ad_item:last-child{
                border: none;
            }
        }
        .main_content{
            margin: 0 auto;
            padding: 0 50px;
            background: #fff;
           
            .main_content_left{
                float: left;
                width: 70%;
            }
            .main_content_right{
                float: right;
                .right_ad_img{
                    margin-top: 38px;
                    width: 313px;
                    object-fit: contain;
                }
            }
        }
        .bottom_content{
            margin: 0 auto;
            padding: 0 50px;
            &.bg-dark{
                background: rgb(241, 241, 241);
            }
            .bottom_content_left{
                float: left;
                width: 70%;
                h2{
                    font-size: 33px;
                    font-weight: bold;
                    color: #1D1E20;
                    margin-bottom: 30px;
                }
            }
            .bottom_content_right{
                float: right;
                h2{
                    font-size: 33px;
                    font-weight: bold;
                    color: #1D1E20;
                    margin-bottom: 30px;
                    width: 313px;
                }
            }
        }
        .home_newsletter{
            width: 1100px;
            margin: 50px auto;
        }
    }
}