@function  vw($px){
  @return ($px /750)*100vw;
}

.head{
  height:vw(112);
  box-shadow: 1px 1px 1px #bdb9b9;
}
.head-logo{
  height: vw(40);
  width: vw(240);
  position: relative;
  left: 50%;
  top: vw(28);
  margin-left: vw(-174);
  margin-top: vw(-19.5);
}
.head-search{
  height:vw(36);
  width:vw(36);
  margin-right:vw(20);
}
.head-person{
  height:vw(36);
  width:vw(36);
  margin-left:vw(20);
}
.head-right{
  margin-top:vw(30);
  margin-right:vw(20);
  float: right;

}
.head-false{
  width: vw(31);
  height: vw(31);
  margin-top:vw(40);
  margin-left:vw(21);
}
.head-bar{
  width: vw(31);
  height: vw(31);
  margin-top:vw(40);
  margin-left:vw(21);
}
.head-menu{
  background:#fff;
  width: vw(497);
  height: vw(1224);
  position:absolute;
  display:none;
  z-index:9999;
}
.head-menu ul li{
  height: vw(158);
  border-bottom: 1px solid #D8D8D8;
  padding-left:vw(65);
  font-size:vw(32);
  font-weight: bold;
  line-height:vw(158);
}
.head-menu ul li a{
  color:#000;
}
