@function  vw($px){
  @return ($px /750)*100vw;
}

.newsletter-wrap{
  width: 100%;
  height: vw(379);
}
.newsletter-tbg{
  width: 100%;
  height: vw(379);
}
.newsletter-title{
  color:#fff;
  font-size: vw(60);
  font-weight: bold;
  position: relative;
  margin-left: vw(240);
  margin-top: vw(-360);
}
.newsletter-input{
  width: vw(500);
  height: vw(75);
  line-height:vw(75);
  float:left;
  padding-left:vw(60);
}
.newsletter-Sectors{
  float:left;
  width: vw(135);
  height: vw(75);
  background: #fff;
  border-left:0;
}
.newsletter-email{
  width: vw(16);
  height:vw(16);
  position: relative;
  left: vw(-608);
  top: vw(18);

}
.newsletter-main{
  position:relative;
  margin-left:vw(58);
  margin-top: vw(30);
}
.newsletter-button{
  width: vw(635);
  height: vw(75);
  background: #F8D943;
  border-radius:vw(2);
  font-size:vw(30);
  color:#000;
  font-weight:bold;
  position:relative;
  margin-left:vw(58);
  margin-top:vw(40);
  border:0;
  box-shadow: 4px 4px 4px -2px #6d6767cc;
}
