@import './footer.scss';
@import './newsletter.scss';
@import './header_1.scss';
@import './right_side.scss';
@import './page_detail.scss';
@import './related_articles.scss';
@import './side_tool_bar.scss';

@function  vw($px){
  @return ($px /750)*100vw;
}

/*login*/
.login-title{
  width: vw(520);
  height: vw(76);
  padding: vw(24) vw(106);
  margin-left: vw(110);
  margin-top: vw(86);
  border: 2px solid #F8D943;
  font-family: Helvetica;
  font-size: vw(25);
  line-height: 1;
  color: #000;
  font-weight: bold;
}
.login-tips{
  width: vw(710);
  height: vw(88);
  padding-left:vw(40);
  margin-top:vw(86);
  text-align: center;
}
.login-input{
  width: vw(710);
  height: vw(76);
  border:1px solid #9B9B9B;
  margin-left:vw(20);
  margin-top:vw(86);
  background:#F1F1F1;
  padding-left:vw(35)
}
.logon-button{
  width: vw(710);
  height: vw(76);
  margin-left:vw(20);
  margin-top:vw(129);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(30);
  color:#000;
  font-weight:bold;
}
.login-back{
  font-size: vw(24);
  margin-left:vw(280);
  margin-top:vw(88);
  color:#9B9B9B;
}

/*register*/
.register-title{
  width: vw(502);
  height: vw(76);
  margin-top:vw(86);
  margin-left:vw(124);
}
.register-title1{
  float:left;
  width:vw(250);
  height: vw(76);
  line-height:vw(72);
  text-align: center;
  border:2px solid #F8D943;
  font-weight: bold;
  font-size: vw(30);
}
.register-title2{
  float:left;
  width:vw(250);
  height: vw(76);
  line-height:vw(76);
  text-align: center;
  background: #F8D943;
  font-weight: bold;
  font-size: vw(30);
}
.register-icon{
  width: vw(40);
  height: vw(26);
  position: relative;
  left: vw(660);
  top: vw(-56);
}
.register-checkbox{
  float:left;
  width: vw(30);
  height: vw(30);
  border:1px solid #000;
  margin-left:vw(20);
}
.register-tip{
  margin-top:vw(60);
  float:left;
}
.checkbox-tip{
  width: vw(520);
  height: vw(60);
  float:left;
  margin-left:vw(30);
  color:#666666;
  font-size: vw(5);
}
.rigister-button{
  width: vw(710);
  height: vw(76);
  margin-left:vw(20);
  margin-top:vw(80);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(30);
  color:#000;
  font-weight:bold;
}
/*sign in*/
.sign--checkbox,.sign-remember{
  float:left;
}
.sign-tip{
  margin-top:vw(50);
  float:left;
}
.sign-tip{
  margin-left:vw(20);
}
.sign--checkbox{
  width: vw(30);
  height: vw(30);
  border:1px solid #000;
}
.sign-remember{
  color:#666;
  font-size:vw(5);
  margin-left:vw(15);
}
.sign-fogot{
  margin-top:vw(50);
  float:right;
  color:#F8D943;
  font-size:vw(5);
  margin-right:vw(20);
}
/*New Sletter*/
.wrap{
  width: vw(648);
  height: vw(673);
  margin-top:vw(100);
  margin-left:vw(50);
}
.sletter-bg{
  width: vw(648);
  height: vw(673);
}
.sletter-tip1{
  height: vw(120);
  width: vw(529);
  font-size: vw(50);
  position: relative;
  left: vw(50);
  top: vw(-440);
  text-align: center;
  color: #fff;
}
.sletter-tip2{
  width: vw(529);
  height: vw(150);
  position: relative;
  left: vw(50);
  top: vw(-340);
  color: #fff;
  text-align: center;
}
.sletter-bottom{
  width: vw(648);
  height: vw(351);
  margin-left:vw(50);
  background:#F6F6F6;
}
.sletter-input{
  width: vw(529);
  height: vw(89);
  border:1px solid #9B9B9B;
  margin-left:vw(60);
  margin-top:vw(86);
  background:#F1F1F1;
  padding-left:vw(35);
}
.sletter-button{
  width: vw(529);
  height: vw(89);
  margin-left:vw(60);
  margin-top:vw(80);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(30);
  color:#000;
  font-weight:bold;
}
/*search*/
.search-input{
  width: vw(710);
  height: vw(127);
  margin-left:vw(20);
  margin-top:vw(70);
  font-size:vw(60);
  padding-left:vw(43);
  padding-right:vw(100);
}
.search-icon{
  width: vw(52);
  height: vw(52);
  position: relative;
  left: vw(640);
  top: vw(-92);
}
.search-ul li{
  font-size:vw(32);
  margin-left:vw(63);
  margin-top:vw(84);
  margin-right:vw(69);
  font-weight: bold;
}
.search-firstLi{
  border-bottom:1px solid #9B9B9B;
  padding-bottom: vw(36);
}
/*Professional*/
.professional-title{
  margin-left:vw(220);
  margin-top:vw(36);
  font-size: vw(60);
}
.professional-bg{
  width: vw(710);
  height:vw(399);
  margin-left:vw(20);
  margin-top:vw(30);
}
.professional-tip{
  width: vw(150);
  height:vw(20);
  font-size:vw(18);
  color:rgba(0,0,0,1);
  line-height:vw(20);
  margin-left:vw(20);
  margin-top:vw(30);
  border-bottom: 4px solid #F8D943;
  font-style:italic;
}
.professional-text1{
  width: vw(563);
  height: vw(100);
  margin-left:vw(20);
  margin-top:vw(20);
  font-weight: bold;
  font-size:vw(40);
}
.professional-text2{
  width: vw(710);
  height: vw(90);
  margin-left:vw(20);
  margin-top:vw(23);
  overflow: hidden;
  color:#9B9B9B;
  font-size:vw(20);
}
.professional-text3{
  color:#1D1E20;
  font-size:vw(44);
  width: vw(710);
  height: vw(222);
  margin-left:vw(20);
  margin-top:vw(60);
  text-align:center;
}
.professional-false{
  width: vw(43);
  height: vw(43);
  float:right;
  margin-top:vw(20);
  margin-right:vw(20);
}
.professional-button{
  width: vw(710);
  height: vw(76);
  margin-left:vw(20);
  margin-top:vw(10);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(30);
  color:#000;
  font-weight:bold;
}
/*main*/
.main-banner2{
  width: vw(750);
  height: vw(480);
}
.main-banner3{
  width: vw(556);
  height: vw(362);
  margin-top:vw(90);
  margin-left:vw(97);
  margin-bottom:vw(90);
}
.main-text1{
  margin-top:vw(90);
  margin-left:vw(20);
  margin-right:vw(20);
  margin-bottom:vw(90);
  border:1px solid #9B9B9B;
  padding:vw(68) vw(36);
}
.main-button1{
  width: vw(242);
  height: vw(61);
  margin-left:vw(200);
  margin-top:vw(80);
  background: #F8D943;
  border-radius:vw(2);
  font-size:vw(24);
  color:#000;
  font-weight:bold;
}
.text1-tt1{
  font-size: vw(60);
  color:#1D1E20;
  font-weight: bold;
  height: vw(78);
}
.text1-tt2{
  color:#1D1E20;
  font-size: vw(30);
  font-weight: bold;
}
.text1-tt3,.text1-tt5,.text1-tt7{
  color:#9B9B9B;
  font-size: vw(20);
  font-weight: bold;
  margin-top:vw(42);
  border-bottom:1px solid #9B9B9B;
  font-style:italic;
}
.text1-tt4,.text1-tt6,.text1-tt8{
  font-size: vw(30);
  font-weight: bold;
}

.main-text2{
  margin-left:vw(20);
  margin-right:vw(20);
  margin-top:vw(80);
}
.text2-tt1{
  color:#202124;
  font-size: vw(60);
}
.text2-bg{
  width: vw(710);
  height: vw(399);
  margin-top:vw(30);
}
.text2-tip{
  width: vw(150);
  height:vw(20);
  font-size:vw(18);
  color:rgba(0,0,0,1);
  line-height:vw(20);
  margin-top:vw(10);
  border-bottom: 4px solid #F8D943;
  font-style:italic;
}
.text2-tt2{
  width: vw(563);
  font-size:vw(30);
  color:#1D1E20;
  font-weight: bold;
  margin-top:vw(10);
}
.text2-tt2 a{
  color:#1D1E20;
}
.text2-tt3{
  margin-top:vw(10);
  margin-bottom:vw(40);
  color:#9B9B9B;
}
.text2-tt3 span{
  margin-right:vw(20);
}
.main-button2{
  width: vw(198);
  height: vw(63);
  margin-left:vw(250);
  margin-bottom:vw(100);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(24);
  color:#000;
  font-weight:bold;
}
.main-text3{
  margin-left:vw(20);
  margin-right:vw(20);
  margin-top:vw(80);
}
.main-text4{
  margin-top:vw(80);
}
.text3-line{
  width:vw(710);
  height:vw(2);
  background:rgba(32,33,36,1);
  opacity:0.1;
  margin-top:vw(10);
}
.text3-tb{
  margin-top:vw(20);
  margin-bottom:vw(40);
}
.text3-bg{
  width: vw(229);
  height: vw(128);
}
.text3-tt2{
  float:right;
  width: vw(463);
  height: vw(80);
  font-size: vw(30);
  color:#1D1E20;
  font-weight: bold;
  letter-spacing:vw(-1);
}
.text4-bg{
  width: 100%;
  height: vw(397);
}
.text4-tt2{
  color:#1D1E20;
  font-size:vw(40);
  margin:vw(40) vw(62);
  font-weight: bold;
  letter-spacing:vw(-1);
}
.main-text5{
  margin-left:vw(20);
  margin-right:vw(20);
}
.text5-tt2{
  font-size:vw(30);
  font-weight: bold;
  letter-spacing:vw(-1);
}
.text5-tt3{
  margin-top:vw(30);
  color:#9B9B9B;
  font-size:vw(30);
  font-style:italic;
}
.text5-left{
  width: vw(43);
  height: vw(43);
  position: relative;
  top: vw(-240);
  left: vw(1);
}
.text5-right{
  width: vw(43);
  height: vw(43);
  position: relative;
  top: vw(-240);
  left: vw(655);
}

/*research*/
.research-title{
  width: 100%;
  height: vw(42);
  font-size:vw(60);
  color:#202124;
  text-align: center;
  font-weight: bold;
  margin-top:vw(20);
  margin-bottom:vw(40);
}
.research-rt1{
  font-size: vw(20);
  color:#9B9B9B;
  margin-top:vw(10);
  margin-bottom:vw(10);
  letter-spacing:vw(-1);
}

.aboutus-text1{
  margin:vw(80) vw(20);
  font-size:vw(26);
  letter-spacing:vw(-1);
  font-weight: bold;

}
/*
Contact*/
.contact-text1{
  margin:vw(60) vw(20) vw(45) vw(02);
  font-weight: bold;
  font-size:vw(26);
  text-align:center;
  letter-spacing:vw(-1);
}
.contact-input{
  width: vw(710);
  height: vw(76);
  border:1px solid #9B9B9B;
  margin:vw(30) vw(20);
  background:#F1F1F1;
  padding-left:vw(35);
}
.contact-textarea{
  width: vw(665);
  margin:vw(30) vw(20);
  background:#F1F1F1;
  padding-left:vw(35);
}
.contact-button{
  width: vw(270);
  height: vw(63);
  margin-top:vw(20);
  margin-left:vw(250);
  margin-bottom:vw(80);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(26);
  color:#000;
  font-weight:bold;
}
/*
content*/
.content-title{
  width: 100%;
  height: vw(130);
  line-height:1;
  font-size:vw(60);
  color:#202124;
  text-align: center;
  font-weight: bold;
  margin-top:vw(40);
  margin-bottom:vw(20);
}
.content-tt1{
  color:#9B9B9B;
  font-size:vw(24);
  text-align: center;
  font-weight: bold;
}
.content-tt2{
  text-align:center;
}
.content-tt2 img{
  margin:vw(10) vw(20);
}
.content-tt3{
  font-size: vw(18);
  margin-top:vw(20);
  margin-bottom:vw(40);
  color:#9B9B9B;
}
.content-logo{
  width: vw(340);
  height: vw(54);
}
.tt3-img{
  width: vw(340);
}
.content-tt3 span{
  margin-right:vw(40);
  margin-left:vw(40);
}
.content-tt4{
  margin:vw(40) vw(20);
  font-size:vw(26);
  letter-spacing:vw(-1);
  font-weight: bold;

}
.content-preson{
  width: vw(433);
  height: vw(605);
  margin:vw(30) vw(159);

}
.content-tt5{
  margin:vw(40) vw(20);
  font-size:vw(26);
  letter-spacing:vw(-1);
  font-weight: bold;
}
.content-bg1{
  width: 100%;
  height: vw(529);
  margin-bottom: vw(100);
}
.content-person{
  width: vw(101);
  height: vw(101);
}
.text3-wrap{
  margin-top:vw(20);
  margin-bottom:vw(40);
  height: vw(275);
}
.content-pt{
  float:right;
  width: vw(557);
  height: vw(275);
  font-size: vw(24);
  color:#1D1E20;
  font-weight: bold;
  letter-spacing:vw(-1);
}
.content-pt1{
  color:#BBBBBB;
  margin-top:vw(35);
  font-size: vw(18);
  letter-spacing:vw(-1);
}
.content-text4{

}
.text4-mt1{
  color:#202124;
  font-size: vw(60);
  margin-left:vw(20);
}
.content-button{
  width: vw(242);
  height: vw(63);
  margin-left:vw(20);
  margin-top:vw(20);
  margin-bottom:vw(80);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(26);
  color:#000;
  font-weight:bold;
}
.interview-img{
  width: vw(80);
  height: vw(20);
  margin-bottom: vw(9);
  margin-left:vw(20);
}
.interview-img2{
  width: vw(120);
  height: vw(20);
  margin-bottom: vw(9);
  margin-left:vw(20);
}

/*personaldata*/
.collection-title{
  width:100%;
  height: vw(76);
}
.collection-title1{
  float:left;
  width:50%;
  height: vw(76);
  line-height:vw(72);
  text-align: center;
  font-weight: bold;
  font-size: vw(30);
  color:#000;
}
.collection-title2{
  float:left;
  width:50%;
  height: vw(76);
  line-height:vw(76);
  text-align: center;
  background: #F8D943;
  font-weight: bold;
  font-size: vw(30);
  color:#000;
}
.collection-data{
  margin-top:vw(74);
  text-align:center;
  font-size: vw(30);
  font-weight: bold;
}
.collection-input1{
  width: vw(710);
  height: vw(76);
  border:1px solid #9B9B9B;
  margin-left:vw(20);
  margin-top:vw(86);
  background:#F1F1F1;
  padding-left:vw(35)
}
.collection-input2{
  width: vw(710);
  height: vw(76);
  border:1px solid #9B9B9B;
  margin-left:vw(20);
  margin-top:vw(56);
  background:#F1F1F1;
  padding-left:vw(35)
}
.collection-button{
  width: vw(710);
  height: vw(76);
  margin-left:vw(20);
  margin-top:vw(60);
  margin-bottom:vw(100);
  background: #F8D943;
  border-radius:2px;
  font-size:vw(30);
  color:#000;
  font-weight:bold;
}

/*mycollertion*/
.collection-div{
  width:vw(712);
  height:vw(205);
  background:#fff;
  margin:vw(75) vw(20);
}
.left-coll{
  width: vw(239);
  height:vw(159);
  float:left;
  margin-left:vw(22);
  margin-top:vw(24);
  background:#D8D8D8;

}
.right-coll{
  width: vw(384);
  height: vw(96);
  float:right;
  margin-right:vw(31);

}
.coll-text1{
  font-size:vw(30);
  color:#1D1E20;
  font-weight: bold;
  margin-top:vw(20);
}
.coll-text2{
  margin-top:vw(40);
}
.coll-tip1{
  float:left;
  font-weight: bold;
}
.coll-tip2{
  float:right;
  background: #D8D8D8;
  color:#fff;
  padding:vw(2) vw(6);
  border-radius:vw(6);
}
/*main轮播*/
.main-tt{
  margin-left:vw(20);
  margin-right:vw(20);
  color:#202124;
  font-size: vw(60);
}
.main-wrap{
  width:100%;
  height:vw(438);
  display: flex;
  overflow: hidden;
  position: relative;
}
.main-swipe {
  // width: 300%;
  height:vw(438);
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.8s;
}
.text5-tt1{
  width: 100%;
  height:vw(438);
  paddIng:vw(57);
  margin-left:vw(20);
  margin-right:vw(20);
  background:rgba(241,241,241,1);
  box-shadow:0 0 vw(7) 0 rgba(0,0,0,0.5);
  border-radius:6px;
  text-align: center;
}
